<h1>Event Transactions</h1>
<%= form_tag('/eventtransactions/index', :method => 'get') do %>  
  <p>  
    <%= text_field_tag :search, params[:search] %>  
    <%= submit_tag "Search", :name => nil %>  
  </p> 
<% end %>
<table>
  <thead>
    <tr>
      <th><%= sortable MadConstants.event_name %></th>
      <th><%= sortable MadConstants.fundraiser_name %></th>
      <th><%= sortable MadConstants.donor_name %></th>
      <th><%= sortable MadConstants.donation_status %></th>
      <th><%= sortable MadConstants.donation_amount %></th>
    </tr>
  </thead>

  <tbody>
    <% @event_transactions.each do |event_transaction| %>
      <tr>
        <td><%= event_transaction.event %></td>
        <td><%= event_transaction.fundraiser_user.first_name.to_s + ' ' + event_transaction.fundraiser_user.last_name.to_s %></td>
        <td><%= event_transaction.donour_user.first_name.to_s + ' ' + event_transaction.donour_user.last_name.to_s %></td>
        <td><%= event_transaction.donation_status.to_s %></td>
        <td class="number-column"><%= event_transaction.donation_amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @event_transactions %>
<br>


