<p id="notice"><%= notice %></p>

<p>
  <strong>Donation type:</strong>
  <%= @donation.donation_type %>
</p>

<p>
  <strong>Version:</strong>
  <%= @donation.version %>
</p>

<p>
  <strong>Fundraiser:</strong>
  <%= @donation.fundraiser_id %>
</p>

<p>
  <strong>Donour:</strong>
  <%= @donation.donour_id %>
</p>

<p>
  <strong>Donation status:</strong>
  <%= @donation.donation_status %>
</p>

<p>
  <strong>Eighty g required:</strong>
  <%= @donation.eighty_g_required %>
</p>

<p>
  <strong>Event:</strong>
  <%= @donation.event_id %>
</p>

<p>
  <strong>Event Ticket Type:</strong>
  <%= @donation.event_ticket_type_id %>
</p>
<p>
  <strong>Donation amount:</strong>
  <%= @donation.donation_amount %>
</p>

