<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Make A Difference" %></title>
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon" />

    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'jquery.js', 'jquery_ujs' ,'jquery-ui'%>
    <%= javascript_include_tag "header_footer" %>
    
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container" class="<%= params[:controller] %>">
      <%= render "layouts/header" %>
      <div id="content" class="body-container">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
        <%= content_tag :h1, yield(:title) if show_title? %>
        <%= yield %>
      </div>
    </div>
   <%= render "layouts/footer" %>
  </body>
</html>
